*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.botons {
    width: 50%;
    min-height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 70px;
}


.botons>button {
    height: 70px;
    border: none;
    font-weight: 500;

}

@media (max-width: 1420px) {
    .botons>button {
        height: 50px;
    }
}

@media (max-width: 1200px) {
    .botons {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .botons>button {
        height: 50px;
    }
}

@media (max-width: 1050px) {
    .botons {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }

    .botons>button {
        height: 50px;
        font-size: 12px;
    }
}

@media (max-width: 965px) {
    .botons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 70px;

    }

    .botons>button {
        width: 70px;
        height: 50px;
        font-size: 12px;
    }
}



/*HEAD*/

h1 {
    position: absolute;
    color: white;
    font-weight: 900;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#head-t {
    color: black;
}

/*BOTONES*/
.menu {
    display: none;
}



/*FORMULARIO*/
.formulario {
    width: 50%;
    min-height: 100vh;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario>div {
    display: none;

}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    color: green;
    font-weight: 700;
    gap: 15px;
}


.inputs>input {
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    font-size: 17px;
    color: rgb(36, 29, 21);


}

.formulario button {
    background-color: green;
    border: none;
    width: 160px;
    height: 40px;
    color: white;
}


div>span {
    margin-top: 40px;
    width: 100%;
    background-color: #242424;
    display: flex;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    color: white;
}